<div id="InputCheckboxTest">
	<div id="functions" class="page-header">
	</div>
	<div id="detail">
		<form class="form-horizontal form-group-sm col-sm-9" data-class="Test">

			<div class="form-group">
				<label class="col-sm-2 control-label">Input</label>
				<div class="col-sm-10">
					<div class="checkbox">
						<label>
							<input type="checkbox" id="checkbox1" data-property="value1" value="1"> One
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="checkbox2" data-property="value2" value="2"> Two
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="checkbox3" data-property="value3" value="3"> Three
						</label>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Result</label>
				<div class="col-sm-10">
					<label class="col-sm-2 control-label">One</label>
					<div class="col-sm-10">
						<div id="test-result1" class="text form-control-static" data-class="Test" data-property="value1"></div>
					</div>
					<label class="col-sm-2 control-label">Two</label>
					<div class="col-sm-10">
						<div id="test-result2" class="text form-control-static" data-class="Test" data-property="value2"></div>
					</div>
					<label class="col-sm-2 control-label">Three</label>
					<div class="col-sm-10">
						<div id="test-result3" class="text form-control-static" data-class="Test" data-property="value3"></div>
					</div>
				</div>
			</div>

		</form>
	</div>
</div>
