<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WebUi Sample</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/view/css/table.css">
    <link rel="stylesheet" href="/view/css/application.css">

    <link id="PersonListImport" rel="import" href="/view/PersonList.html">
    <link id="PersonDetailImport" rel="import" href="/view/PersonDetail.html">
    <link id="TextAreaTestImport" rel="import" href="/view/TextAreaTest.html">
    <link id="SelectTestImport" rel="import" href="/view/SelectTest.html">
    <link id="InputTestImport" rel="import" href="/view/InputTest.html">
    <link id="InputNumberTestImport" rel="import" href="/view/InputNumberTest.html">
    <link id="InputRadioTestImport" rel="import" href="/view/InputRadioTest.html">
    <link id="InputCheckboxTestImport" rel="import" href="/view/InputCheckboxTest.html">
    <link id="InputCheckboxSelectionTestImport" rel="import" href="/view/InputCheckboxSelectionTest.html">
    <link id="InputFileTestImport" rel="import" href="/view/InputFileTest.html">
    <link id="ListTestImport" rel="import" href="/view/ListTest.html">

    <script type="application/dart" src="main.dart"></script>
    <script src="packages/browser/dart.js"></script>
  </head>
 
  <body class="col-md-12">
    <div class="w3-top">
      <div class="w3-bar w3-white w3-card-2">
        <a href="/" class="w3-bar-item w3-button w3-wide">WebUI</a>

        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small">
          <a href="#test/textarea" class="w3-bar-item w3-button">TextArea</a>
          <a href="#test/select" class="w3-bar-item w3-button">Select</a>
          <a href="#test/input" class="w3-bar-item w3-button">Input</a>
          <a href="#test/number" class="w3-bar-item w3-button">Number</a>
          <a href="#test/radio" class="w3-bar-item w3-button">Radio</a>
          <a href="#test/checkbox" class="w3-bar-item w3-button">Checkbox</a>
          <a href="#test/selection" class="w3-bar-item w3-button">Selection</a>
          <a href="#test/file" class="w3-bar-item w3-button">File</a>
          <a href="#test/list" class="w3-bar-item w3-button">List</a>
        </div>

        <!-- Hide right-floated links on small screens and replace them with a menu icon -->
        <div class="w3-dropdown-hover w3-right w3-hide-large w3-hide-medium">
          <button class="w3-button"><i class="fa fa-bars"></i></button>
          <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
            <a href="#test/textarea" class="w3-bar-item w3-button">TextArea</a>
            <a href="#test/select" class="w3-bar-item w3-button">Select</a>
            <a href="#test/input" class="w3-bar-item w3-button">Input</a>
            <a href="#test/number" class="w3-bar-item w3-button">Number</a>
            <a href="#test/radio" class="w3-bar-item w3-button">Radio</a>
            <a href="#test/checkbox" class="w3-bar-item w3-button">Checkbox</a>
            <a href="#test/selection" class="w3-bar-item w3-button">Selection</a>
            <a href="#test/file" class="w3-bar-item w3-button">File</a>
            <a href="#test/list" class="w3-bar-item w3-button">List</a>
          </div>
        </div>

      </div>
    </div>

    <div id="content">
    </div>   
  </body>
</html>
