<div id="PersonList">
  <div id="functions" class="page-header">
    <form class="form-inline">
      <button name="create" class="btn btn-primary">Ny</button>
    </form>
  </div>
  <div id="list">
    <table class="table table-condensed" data-class="Person">
      <thead>
        <tr>
          <th data-link="delete" data-property="uid">&nbsp;</th>
          <th data-link="edit" data-property="name" class="sortable">Name</th>
         </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
