<div id="TextAreaTest">
  <div id="functions" class="page-header">
  </div>
  <div id="detail">
    <form class="form-horizontal form-group-sm col-sm-9" data-class="Person">

      <div class="form-group">
        <label class="col-sm-2 control-label">Textarea</label>
        <div class="col-sm-10">
          <textarea data-class="Person" data-property="name" class="form-control" rows="5" required></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Result</label>
        <div class="col-sm-10">
          <div id="test-result" class="text form-control-static" data-class="Person" data-property="name">
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
