<div id="PersonList">
  <div id="functions" class="page-header">
    <form class="form-inline">
      <button id="create" class="btn btn-primary">Ny</button>
    </form>
  </div>
  <div id="list">
      <table is="x-table" id="PersonTable" class="table table-condensed">
        <thead>
          <tr>
            <th is="x-th" link="delete" name="Person.uid">&nbsp;</th>
            <th is="x-th" link="edit" name="Person.name" sortable>Name</th>
            <th is="x-th" name="Person.address" sortable>Address</th>
            <th is="x-th" name="Person.zipcode">Zipcode</th>
            <th is="x-th" name="Person.town" sortable>Town</th>
            <th is="x-th" type="datetime" name="Person.created" sortable>Created</th>
            <th is="x-th" type="date" name="Person.born" sortable>Born</th>
            <th is="x-th" type="time" name="Person.time" sortable>Time</th>
            <th is="x-th" type="decimal" decimals="2" name="Person.height" sortable>Height</th>
            <th is="x-th" type="integer" name="Person.age" sortable>Age</th>
            <th is="x-th" type="boolean" name="Person.lovely" sortable>Er dejlig?</th>
            <th is="x-th" name="Person.sex" sortable>Køn</th>
           </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>
</div>
