<div id="PersonDetail">
  <div id="functions">
    <form>
      <fieldset>
        <legend>Funktioner</legend>
        <button name="save">Gem</button>
        <button name="cancel">Fortryd</button>
      </fieldset>
    </form>
  </div>
  <div id="detail">
  <form name="formdata">
    <input type="hidden" name="uid" /> 
    <fieldset>
      <legend>Person</legend>
      <ul>
        <li>
          <label>Name</label>
          <input name="name" class="required" type="text"/>
        </li>
        <li>
          <label>Address</label>
          <input name="address" class="required" type="text"/>
        </li>
        <li>
          <label>Zipcode</label>
          <select name="zipcode"></select>
        </li>
        <li>
          <label>Town</label>
          <input name="town" class="required" type="text"/>
        </li>
        <li>
          <label>Created</label>
          <input name="created" class="required datetime" type="text"/>
        </li>
        <li>
          <label>Born</label>
          <input name="born" class="required date" type="text"/>
        </li>
        <li>
          <label>Time</label>
          <input name="time" class="required time" type="text"/>
        </li>
        <li>
          <label>Height</label>
          <input name="height" class="required amount" type="text"/>
        </li>
      </ul>
    </fieldset>
  </form>
  </div>
</div>
