<div id="PersonDetail">
  <div id="functions">
    <form>
      <fieldset>
        <legend>Funktioner</legend>
        <input type="button" name="save" value="Gem"/>
        <input type="button" name="cancel" value="Fortryd"/>
      </fieldset>
    </form>
  </div>
  <div id="detail">
  <form name="formdata">
    <input type="hidden" name="uid" /> 
    <fieldset>
      <legend>Person</legend>
      <ul>
        <li>
          <label>Name</label>
          <input name="name" class="required" type="text"/>
        </li>
        <li>
          <label>Address</label>
          <input name="address" class="required" type="text"/>
        </li>
        <li>
          <label>Zipcode</label>
          <input name="zipcode" class="required" type="text" size="6" />
        </li>
        <li>
          <label>Town</label>
          <input name="town" class="required" type="text"/>
        </li>
      </ul>
    </fieldset>
  </form>
  </div>
</div>
