<div id="PersonList">
  <div id="functions" class="page-header">
    <form class="form-inline">
      <button name="create" class="btn btn-primary">Ny</button>
    </form>
  </div>
  <div id="list">
    <!-- fieldset>
      <legend>Personer</legend>
    </fieldset -->
      <table id="tabledata" class="table table-condensed">
        <thead>
          <tr>
            <th class="delete">&nbsp;</th>
            <th class="edit" id="name">Name</th>
            <th id="address">Address</th>
            <th id="zipcode">Zipcode</th>
            <th id="town">Town</th>
           </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>
</div>
