<div id="PersonList">
  <div id="functions" class="page-header">
    <form class="form-inline">
      <button id="create" class="btn btn-primary">Ny</button>
    </form>
  </div>
  <div id="list">
      <table id="tabledata" class="table table-condensed">
        <thead>
          <tr>
            <th class="delete" id="Person-uid">&nbsp;</th>
            <th class="edit sortable" id="Person-name">Name</th>
            <th id="Person-address" class="sortable">Address</th>
            <th id="Person-zipcode">Zipcode</th>
            <th id="Person-town" class="sortable">Town</th>
            <th id="Person-created" class="datetime sortable">Created</th>
            <th id="Person-born" class="date sortable">Born</th>
            <th id="Person-time" class="time sortable">Time</th>
            <th id="Person-height" class="amount sortable">Height</th>
            <th id="Person-lovely" class="sortable">Er dejlig?</th>
           </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>
</div>
