html, body {
  margin: 0;
  padding: 0;
  font-family: verdana;
  font-size: 10pt;
}

fieldset {
  border: 2px solid black;
}

legend {
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px;    
}

input {
  border: 1px solid black;
  font-family: verdana;
  font-size: 10pt;
}

input[disabled] {
  border: none;
  background-color: white;
  color: black;
}

table {
  width: 100%;
  table-layout: fixed;  /* "col" widths on tables */
}

table th, table td {
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.column-cut {
  overflow: hidden;
}

.row-odd {
  background-color: White;
}

.row-even {
  background-color: LightGrey;
}

.number {
  text-align: right;
}

.error {
  color: red;
  border: 1px solid red;
}

.valid {
  color: inherit;
  border: 1px solid green;
}

.delete {
  width: 10px;
}
