<div id="PersonList">
  <div id="functions">
    <form>
      <fieldset>
        <legend>Funktioner</legend>
          <input type="button" name="create" value="Ny"/>
      </fieldset>
    </form>
  </div>
  <div id="list">
    <fieldset>
      <legend>Personer</legend>
      <table>
        <thead>
          <tr>
            <th class="delete">&nbsp;</th>
            <th class="edit" id="name">Name</th>
            <th id="address">Address</th>
            <th id="zipcode">Zipcode</th>
            <th id="town">Town</th>
           </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </fieldset>
  </div>
</div>
